@using CaloriesPage.Database.Entities;

@{ ViewBag.Title = "Menu"; }
@model List<Meal>

<h1>@ViewBag.Title</h1>
<p>Meal list:</p>
<ul>
    @foreach (var meal in Model)
    {
        <li>@meal.Id : @meal.Name</li>
    }

</ul>