@using CaloriesPage.Database.Entities;

@{ ViewBag.Title = "Remove meal"; }
@model Meal

<h1>@ViewBag.Title</h1>


<br />
@using (Html.BeginForm("RemoveMeal", "Home", FormMethod.Get,
    new { style = "margin-right:100px; margin-top:50px; border-style:solid; border-color:red;" }))
{
    <div style="margin: 5px; display: inline;">@Html.Label("Meal name")</div>
    <div style="margin: 5px; display: inline;">@Html.TextBoxFor(m => m.Name)</div>
    <div style="margin: 5px; display: inline;"><input type="submit" value="Remove Meal" /></div>
}